<h1>install libraries</h1>

# Pandas

In [1]:
#
# libraries
%pip install pandas

Requirement already satisfied: pandas in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\student\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\student\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

# numpy

In [2]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\student\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np

**import Libraries**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

# BASIC DATA STRACTURE

# Create series

In [7]:
import pandas as pd
import numpy as np

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range("20240101", periods=6)

In [8]:
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [10]:
df

                   A         B         C         D
2024-01-01  0.808741 -0.781417  0.041931  0.368179
2024-01-02  1.344651 -0.569008 -0.401829  0.182099
2024-01-03  0.833857 -1.611359 -0.171469 -2.513752
2024-01-04  1.958333 -0.430674  0.611663  1.557515
2024-01-05  0.456096  0.248418  1.852213  0.345042
2024-01-06  2.027595 -0.003737 -0.697553 -0.103072

In [11]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("2013-01-02"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [12]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

# Viewing Data

In [14]:
df.head(5)

                   A         B         C         D
2024-01-01  0.808741 -0.781417  0.041931  0.368179
2024-01-02  1.344651 -0.569008 -0.401829  0.182099
2024-01-03  0.833857 -1.611359 -0.171469 -2.513752
2024-01-04  1.958333 -0.430674  0.611663  1.557515
2024-01-05  0.456096  0.248418  1.852213  0.345042

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2024-01-01 to 2024-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [16]:
df.tail(3)

                   A         B         C         D
2024-01-04  1.958333 -0.430674  0.611663  1.557515
2024-01-05  0.456096  0.248418  1.852213  0.345042
2024-01-06  2.027595 -0.003737 -0.697553 -0.103072

# display index & column

In [17]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   1.238212 -0.524630  0.205826 -0.027332
std    0.650028  0.652173  0.919766  1.344523
min    0.456096 -1.611359 -0.697553 -2.513752
25%    0.815020 -0.728315 -0.344239 -0.031779
50%    1.089254 -0.499841 -0.064769  0.263571
75%    1.804913 -0.110471  0.469230  0.362395
max    2.027595  0.248418  1.852213  1.557515

<h4>Transpose DataFrame</h4>

In [26]:
df.T

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    0.808741    1.344651    0.833857    1.958333    0.456096    2.027595
B   -0.781417   -0.569008   -1.611359   -0.430674    0.248418   -0.003737
C    0.041931   -0.401829   -0.171469    0.611663    1.852213   -0.697553
D    0.368179    0.182099   -2.513752    1.557515    0.345042   -0.103072

### Sort DataFrame

In [31]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2024-01-01  0.368179  0.041931 -0.781417  0.808741
2024-01-02  0.182099 -0.401829 -0.569008  1.344651
2024-01-03 -2.513752 -0.171469 -1.611359  0.833857
2024-01-04  1.557515  0.611663 -0.430674  1.958333
2024-01-05  0.345042  1.852213  0.248418  0.456096
2024-01-06 -0.103072 -0.697553 -0.003737  2.027595

In [33]:
df.sort_values(by="B")

                   A         B         C         D
2024-01-03  0.833857 -1.611359 -0.171469 -2.513752
2024-01-01  0.808741 -0.781417  0.041931  0.368179
2024-01-02  1.344651 -0.569008 -0.401829  0.182099
2024-01-04  1.958333 -0.430674  0.611663  1.557515
2024-01-06  2.027595 -0.003737 -0.697553 -0.103072
2024-01-05  0.456096  0.248418  1.852213  0.345042

## Data Selection

In [34]:
df["A"]

2024-01-01    0.808741
2024-01-02    1.344651
2024-01-03    0.833857
2024-01-04    1.958333
2024-01-05    0.456096
2024-01-06    2.027595
Freq: D, Name: A, dtype: float64

In [36]:
df[0:3]

                   A         B         C         D
2024-01-01  0.808741 -0.781417  0.041931  0.368179
2024-01-02  1.344651 -0.569008 -0.401829  0.182099
2024-01-03  0.833857 -1.611359 -0.171469 -2.513752

In [37]:
df["20240102":"20240104"]

                   A         B         C         D
2024-01-02  1.344651 -0.569008 -0.401829  0.182099
2024-01-03  0.833857 -1.611359 -0.171469 -2.513752
2024-01-04  1.958333 -0.430674  0.611663  1.557515

## Selection by Label.

In [38]:
df.loc[dates[1]]

A    1.344651
B   -0.569008
C   -0.401829
D    0.182099
Name: 2024-01-02 00:00:00, dtype: float64

In [40]:
df.loc[:,["A","B"]]

                   A         B
2024-01-01  0.808741 -0.781417
2024-01-02  1.344651 -0.569008
2024-01-03  0.833857 -1.611359
2024-01-04  1.958333 -0.430674
2024-01-05  0.456096  0.248418
2024-01-06  2.027595 -0.003737

In [ ]:
df.loc["20240102","20240104"]