In [1]:
print('hello word')

hello word

# Personal information

In [13]:
import pandas as pd
import numpy as np

In [17]:
personal_information=pd.Series(["name= Qurat", "age= 24","address= pindigheb","degree= BSSE"])

In [18]:
print(personal_information)

0           name= Qurat
1               age= 24
2    address= pindigheb
3          degree= BSSE
dtype: object

# Define two variables with different data types

In [49]:
a="Hello"
b="Anie"
x=a,b.swapcase()

In [50]:

print(x)

('Hello', 'aNIE')

In [41]:
x=13
y=12
temp= x
print("value of temp variable is",temp)

value of temp variable is 13

In [42]:
x=y
print("value of x is",x)

value of x is 12

In [43]:
y=temp
print("value of y",y)

value of y 13

## different data types in python

In [52]:
#integer
num =345
print("variable:",num,)

variable: 345

In [53]:
#float
pi =3.45
print("variable:",pi)

variable: 3.45

In [55]:
#boolean
is_valid = True
print("variable:",is_valid)

variable: True

In [61]:
#list
num=pd.Series([1,8,7,6,5,0])
print(num)

0    1
1    8
2    7
3    6
4    5
5    0
dtype: int64

# task2
### Addition, sub, mul, div

In [62]:
x=9
y=6
print(x+y)

15

In [63]:
x=97
y=67
print(x-y)

30

In [65]:
x=98
y=63
print(x+y-x)

63

In [67]:
x=98
y=63
print(x*y)

6174

In [68]:
x=98
y=63
print(x/y*x)

152.44444444444446

numarical variable compare them

In [72]:
print(50+59)

109

Assignment operator

In [75]:
x=8
x-=7
print(x)

1

In [76]:
x=8
x+=6
print(x)

14

In [77]:
x=8
x%=7
print(x)

1

In [78]:
x=8
x*=7
print(x)

56

In [79]:
x=8
x//=7
print(x)

1

In [81]:
x=8

x|=7
print(x)

15

In [82]:
x=8
x>>=7
print(x)

0

In [83]:
x=8
x<<=7
print(x)

1024

### logical operators

In [86]:

x = 5
print(x > 3 and x < 10)

True

In [95]:
x=5
print(x > 3 or x < 4)

True

In [91]:
x=5
print(not(x>3 and x<10))

False